.figure-list {
	box-sizing: border-box;
}

.figure-item {
	width: 15rem;
	min-height: 30rem;
}
.figure-title {
	min-height: 5rem;
}
.saved{
	border : none;
	background-color: red;
	background: red;
}
.unsaved {
	background-color: gray;
	border : none;
	
}
